# Dependencies
node_modules/

# Environment variables
.env

# Prisma
server/prisma/migrations/

# React build output
client/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# History
.history/